body {
  background: linear-gradient(darkblue, lightblue, grey);
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  display: block;
  padding: 1%;
  min-height: 100%;
  background-attachment: fixed;
  margin: 0;
}